@mixin transition_custom($min) {
  transition: all $min ease-in-out;
  -moz-transition: all $min ease-in-out;
  -webkit-transition: all $min ease-in-out;
  -o-transition: all $min ease-in-out;
  -ms-transition: all $min ease-in-out;
}

$tailwind-breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

@mixin media-breakpoint-up($name) {
  $size: map-get($tailwind-breakpoints, $name);
  @if $size {
    @media (min-width: #{$size}) {
      @content;
    }
  } @else {
    @warn "No breakpoint named '#{$name}' found.";
  }
}

@mixin media-breakpoint-down($name) {
  $size: map-get($tailwind-breakpoints, $name);
  @if $size {
    $max-size: $size - 0.02px;
    @media (max-width: #{$max-size}) {
      @content;
    }
  } @else {
    @warn "No breakpoint named '#{$name}' found.";
  }
}


// Dynamic Classes
@for $i from 1 through 1000 {
  // Width
  .wp-#{$i} { width: #{$i}px !important; } // Wight
  .min-wp-#{$i} { min-width: #{$i}px !important; } // Min Width
  .max-wp-#{$i} { max-width: #{$i}px !important; } // Max Width
  .vw-#{$i} { width: #{$i}vw !important; } // Wight Viewport
  .min-vw-#{$i} { min-width: #{$i}vw !important; } // Min Wight Viewport
  .max-vw-#{$i} { max-width: #{$i}vw !important; } // Max Wight Viewport
  .wrem-#{$i} { width: #{$i}rem !important; } // Wight Rem
  .min-wrem-#{$i} { min-width: #{$i}rem !important; } // Min Wight Rem
  .max-wrem-#{$i} { max-width: #{$i}rem !important; } // Max Wight Rem
  // Height
  .hp-#{$i} { height: #{$i}px !important; } // Height
  .min-hp-#{$i} { min-height: #{$i}px !important; } // Min Height
  .max-hp-#{$i} { max-height: #{$i}px !important; } // Max Height
  .vh-#{$i} { height: #{$i}vh !important; } // Height Viewport
  .min-vh-#{$i} { min-height: #{$i}vh !important; } // Min Height Viewport
  .max-vh-#{$i} { max-height: #{$i}vh !important; } // Max Height Viewport
  // Position
  .top-#{$i} { top: #{$i}px !important; } // Top
  .bottom-#{$i} { bottom: #{$i}px !important; } // Bottom
  .left-#{$i} { left: #{$i}px !important; } // Left
  .right-#{$i} { right: #{$i}px !important; } // Right
  // Others
  .font-#{$i} { font-size: #{$i}px !important; } // Font Size
  .fw-#{$i} { font-weight: #{$i} !important; } // Font Weight
  .lh-#{$i} { line-height: #{$i}px !important; } // Line Height
  .flex-init-#{$i} { flex: 0 0 #{$i}px !important; } // flex Init
  .radius-#{$i} { border-radius: #{$i}px !important; } // Border Radius
  .padding-#{$i} { padding: #{$i}px !important; } // Padding
}