.testimonial-card {
  background: #fff;
  padding: 40px 30px;
  width: 80%;
  max-width: 850px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.testimonial-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #ff6b00;
}

.testimonial-text {
  font-size: 18px;
  color: #555;
  font-style: italic;
  margin-bottom: 25px;
}

.testimonial-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.testimonial-role {
  color: #ff6b00;
  font-size: 14px;
}

.carousel-indicators [data-bs-target] {
  background-color: #ff6b00;
}

.section_service {
  .content{
    width: calc(50% - 30px);
  }
}